<section class="recommend-new">
  <article class="instruction-box">
    <p>
      Enter the name of the doctor you would like to recommend!
    </p>
  </article>
  <%= form_for :doctor, url: { controller: "doctors", action: "find" }, method: :get, html: {class: "search-form"} do |f| %>
  <%= f.text_field :first_name, placeholder: "First Name", required: true %>
  <%= f.text_field :last_name, placeholder: "Last Name", required: true%>
  <%= f.text_field :city, placeholder: "City", required: true %>
  <%= f.label "State" %>
  <%= f.select :state, options_for_select(@states, :first), required: true %>
  <%= f.submit "Search", class: "search-submit" %>

  <% end %>
  <aside class="partials-doctors">
    <% if @our_doctors %>
      <% if @our_doctors.length > 0 %>
    <%= render 'doctors/rec_search'  %>
      <% end %>
    <% end %>
    <% if @api_doctors %>
      <% if@api_doctors.length > 0 %>
    <%= render 'doctors/rec_api_search'  %>
      <% end %>
    <% end %>
    <% if @show_new_doctor %>
      <%= render 'doctors/new_button' %>
    <% end %>
  </aside>
</section>
