<section class="recommend-new">
  <article class="instruction-box">
    <p>
      Enter the name of the doctor you would like to recommend!
    </p>
  </article>
  <%= form_for :doctor, url: { controller: "doctors", action: "find" }, method: :get, html: {class: "search-form"} do |f| %>
  <%= f.text_field :first_name, placeholder: "First Name" %>
  <%= f.text_field :last_name, placeholder: "Last Name" %>
  <%= f.text_field :city, placeholder: "City" %>
  <%= f.text_field :state, placeholder: "State" %>
  <%= f.submit "Search", html: {class: "search-submit"}%>

  <% end %>
  <aside class="partials-doctors">
    <%= render 'doctors/rec_search' %>
    <%= render 'doctors/rec_api_search' %>
  </aside>
</section>
