<h2><%= @doctor.first_name %> <%= @doctor.last_name %></h2>

<%= form_for @recommendation do |f| %>
  <%= f.text_area :review, placeholder: "Write a review..." %>
  <%= f.check_box :tags, {multiple: true, class: "tag"}, "used correct pronouns", nil %>
  <%= f.label :tags_used_correct_pronouns, "used correct pronouns", class: "tag-label" %>
  <%= f.submit %>
<% end %>
