<h2><%= @doctor.first_name %> <%= @doctor.last_name %></h2>

<%= form_for @recommendation do |f| %>
  <%= f.hidden_field :doctor_id, value: @doctor.id %>
  <%= f.text_area :review, placeholder: "Write a review..." %>
  <ul class="tag-list">
    <% @tags.each do |tag| %>
    <li>
      <%= f.check_box :tags, {multiple: true, class: "tag"}, tag, nil %>
      <% id = ("tags_" + tag.gsub(" ", "_")).to_sym %>
      <%= f.label id, tag, class: "tag-label" %>
    </li>
    <% end %>
  </ul>
  <%= f.submit %>
<% end %>

<%= form_tag tags_path do %>
  <%= text_field_tag :new_tag_description, nil, placeholder: "Add a tag" %>
  <%= submit_tag "Add", class: "add-tag" %>
<% end %>
