
<% if @errors %>
<div class="errors-cont">
  <%= render 'shared/errors' %>
</div>
<% end %>


<%= render 'recommendations/doc_info' %>


<section id="new-rec-section">

  <%= form_for @recommendation do |f| %>
    <%= f.hidden_field :doctor_id, value: @doctor.id %>
    <%= f.text_area :review, placeholder: "Write a review..." %>
    <ul class="tag-list">
      <% @tags.each_pair do |category, tags| %>
        <h3><%= tag_title[category] %></h3>
        <% tags.each do |tag| %>
          <li class="tag-li">
            <%= f.check_box :tags, {multiple: true, class: "tag"}, tag.description, nil %>
            <% id = ("tags_" + tag.description.gsub(" ", "_")).to_sym %>
            <%= f.label id, tag.description, class: "tag-label" %>
          </li>
        <% end %>
      <% end %>
      <h3>Additional tags...</h3>
    </ul>
    <%= f.submit "Submit Recommendation", id: "rec-submit-button" %>
  <% end %>

  <%= form_tag root_path, class: "add-tags-form" do %>
    <%= text_field_tag :new_tag_description, nil, placeholder: "Add a tag" %>
    <%= submit_tag "Add", class: "add-tag" %>
  <% end %>
</section>
