<h2><%= @doctor.first_name %> <%= @doctor.last_name %></h2>

<%= form_for @recommendation do |f| %>
  <%= f.text_area :review, placeholder: "Write a review..." %>
  <% @tags.each do |tag| %>
    <%= f.check_box :tags, {multiple: true, class: "tag"}, tag, nil %>
    <% id = ("tags_" + tag.gsub(" ", "_")).to_sym %>
    <%= f.label id, tag, class: "tag-label" %>
  <% end %>
  <%= f.submit %>
<% end %>
