<main class="content-container">
  <div class="header">
    <div>
      <h1>Resources</h1>
    </div>
  </div>
  <div class="link-content">
    <p>Read more about LGBTQ healthcare. This page is always expanding. Please let us know if you have resources to add or think we're missing something.</p>
    <ul class="resources-list">
      <li><%= link_to "The National LGBT Health Education Center", "https://www.lgbthealtheducation.org" %></li>
      <li><%= link_to 'Healthcare Equality Index 2017 - Human Rights Campain (PDF)', "http://assets.hrc.org//files/assets/resources/HEI-2017.pdf?_ga=2.265555399.910521426.1509643877-2136938515.1509643877" %></li>
      <li><%= link_to "Healthcare Bill of Rights", "http://healthcarebillofrights.org/get-help" %></li>
      <li><%= link_to "The Pride Study", "https://pridestudy.org/" %></li>
      <li><%= link_to '“I Want to Be Like Nature Made Me”: Medically Unnecessary Surgeries on Intersex Children in the US - Human Rights Watch', "https://www.hrw.org/report/2017/07/25/i-want-be-nature-made-me/medically-unnecessary-surgeries-intersex-children-us" %></li>
      <li><%= link_to "SERVING OUR YOUTH 2015: The Needs and Experiences of Lesbian, Gay, Bisexual, Transgender, and Questioning Youth Experiencing Homelessness (PDF)", "http://www.nhchc.org/wp-content/uploads/2015/06/true-colors-fund_serving-our-youth-june-2015.pdf" %></li>
      <li><%= link_to "For many LGBTQ people, even a routine doctor visit can be a ‘degrading experience’ - Washington Post", "https://www.washingtonpost.com/lifestyle/style/for-many-lgbtq-people-even-a-routine-doctor-visit-can-be-a-degrading-experience/2016/10/02/092cd3bc-872a-11e6-a3ef-f35afb41797f_story.html?postshare=8431475504372238&tid=ss_tw&utm_term=.f88bd7a0b92e" %></li>
      <li><%= link_to "LGBT Caregiver Perspectives - U.S. News Health", "https://health.usnews.com/wellness/articles/2016-11-02/lgbt-caregiver-perspectives" %></li>
    </ul>
  </div>
</main>
