<main class="user-profile">
  <h2>Welcome, <%= @user.username %></h2>

  <section class="recent-recs-section">
    <h3>Your recommendations</h3>
    <% if @user.recommendations %>
    <% @user.recommendations.each do |rec| %>
    <h4>Dr. <%= rec.doctor.first_name %> <%= rec.doctor.last_name %></h4>
    <div class="review-profile"><%= rec.review %></div>
    <ul class="tag-list">
      <% rec.tags.each do |tag| %>
      <li class="rec-tags-profile">
        <%= tag.description %>
      </li>
      <% end %>
    </ul>
    <% end %>
    <% else %>
    <p>You have not recommended any doctors yet.</p>
    <% end %>
  </section>

  <section class="saved-doctors-section">
    <h3>Your saved doctors</h3>
    <p>You have not saved any doctors yet.</p>
  </section>
</main>
