
  <div class="rec-search-result left">
    <h3>
      Doctors we already love
    </h3>
    <% @our_doctors.each do |doctor| %>
      <p>
      <%= doctor.first_name%> <%= doctor.last_name %>
      </p>
      <p>
        <%= doctor.specialty %>
      </p>
      <p>
        <%= doctor.city %>, <%= doctor.state %>
      </p>

      <%= button_to "Recommend", new_recommendation_path , method: :get, params: { id: doctor.id}, class: "rec-doctor-button" %>

      <% end %>
  </div>
