<section id="dr-search-page">
  <div class="container">

<h1>Search for a Doctor</h1>
  <div class="doctor-search-box">
    <%= search_form_for @q do |f| %>
    <%= f.label 'first name' %>
    <%= f.search_field :first_name_cont %>
    <%= f.label 'last name' %>
    <%= f.search_field :last_name_cont %>
    <%= f.label 'City' %>
    <%= f.select :city_eq, options_from_collection_for_select(Doctor.order('city ASC'), 'id','city', @q.city_eq), include_blank: true, multiple: true %>
    <%= f.label 'State' %>
    <%= f.select :state_eq, options_from_collection_for_select(Doctor.order('state ASC'), 'id','state', @q.state_eq), include_blank: true, multiple: true %>

    <%= f.submit %>
<% end %>
  </div>
  <div class="search-results-container">
    <table>
      <thead>
        <tr class="table-heading">
          <th><%= sort_link(@q, :first_name) %></th>
          <th><%= sort_link(@q, :city) %></th>
        </tr>
      </thead>
      <tbody>
        <% @doctors.each do |doctor| %>
        <tr>
          <td><%= doctor.first_name %></td>
          <td><%= doctor.city %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
</section>
