<section id="dr-search-page">
  <div class="container">

<h1>Search for a Doctor</h1>
  <div class="doctor-search-box">
    <%= search_form_for @q do |f| %>
    <%= f.label 'first name' %>
    <%= f.search_field :first_name_cont %>
    <%= f.label 'last name' %>
    <%= f.search_field :last_name_cont %>
    <%= f.label 'City' %>
    <%= f.select :city_eq, options_from_collection_for_select(Doctor.select('city').distinct , 'city','city'), include_blank: true, multiple: true %>
    <%= f.label 'State' %>
    <%= f.select :state_eq, options_from_collection_for_select(Doctor.select('state').distinct, 'state', 'state'), include_blank: true%>
    <%= f.label 'Specialty' %>
    <%= f.select :specialty_matches_any, options_for_select(@specialties, :last), include_blank: true, multiple: true %>
    <%= f.label 'Recommendation' %>
    <%= f.search_field :recommendations_review_cont %>

    <%= f.submit %>
    <%= link_to "Reset Search", doctors_path %>
<% end %>
  </div>
  <div class="search-results-container">
    <!-- <%= content_tag :table do %>
      <%= content_tag :th, sort_link(@q, :first_name)  %>
      <%= content_tag :th, sort_link(@q, :last_name)  %>
      <%= content_tag :th, sort_link(@q, :city)   %>
      <%= content_tag :th, sort_link(@q, :state)  %>
      <%= content_tag :th, sort_link(@q, :specialty)  %>
      <%= content_tag :th, sort_link(@q, :recommendations_review) %>
    <% end %> -->



    <table>
      <thead>
        <tr class="table-heading">
          <th><%= sort_link(@q, :first_name) %></th>
          <th><%= sort_link(@q, :last_name) %></th>
          <th><%= sort_link(@q, :city) %></th>
          <th><%= sort_link(@q, :state) %></th>
          <th><%= sort_link(@q, :specialty) %></th>
          <th><%= sort_link(@q, :recommendations_review) %></th>
        </tr>
      </thead>
      <tbody>
        <% @doctors.each do |doctor| %>
        <tr>
          <td><%= doctor.first_name %></td>
          <td><%= doctor.last_name %></td>
          <td><%= doctor.city %></td>
          <td><%= doctor.state %></td>
          <td><%= doctor.specialty %></td>
          <td><%= doctor.recommendations.first.review %> </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
</section>
