<section id="dr-search-page">
<h1>Search for a Doctor</h1>
  <div class="doctor-search-box">
    <%= form_for :doctor, method: :get  do |f| %>
      <%= f.text_field :first_name, placeholder: "First Name" %>
      <%= f.text_field :last_name, placeholder: "Last Name" %>
      <%= f.text_field :first_name, placeholder: "First Name" %>
      <%= f.text_field :first_name, placeholder: "First Name" %>

    <% end %>
  </div>
</section>
