<section id="dr-search-page">
  <div class="container">

<h1>Search for a Doctor</h1>
  <div class="doctor-search-box">
    <%= search_form_for @q do |f| %>
    <%= f.label 'first name' %>
    <%= f.search_field :first_name_cont %>
    <%= f.submit %>
<% end %>
  </div>
  <div class="search-results-container">
    <table>
      <thead>
        <tr class="table-heading">
          <th><%= sort_link(@q, :first_name) %></th>
        </tr>
      </thead>
      <tbody>
        <% @doctors.each do |doctor| %>
        <tr>
          <td><%= doctor.first_name %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
</section>
