
<!--
<main class="doctor-info-container">
  <div class="img-container">
    <h1>Image</h1>
  </div>
  <div class="info-container">
    <h1>Info</h1>
  </div>
</main> -->


<div class="doctor-info-container">
  <div class="one">
    <div class="w3-container">
      <div class="w3-card-4 w3-dark-grey" style="width:50%">
         <div class="w3-container w3-center">
            <img src="img_avatar3.png" alt="Avatar" style="width:80%">
            <h3> <%= @doctor.first_name %> <%= @doctor.last_name %>  </h3>
            <% unless @specialty.blank? %>
              <p><%= @specialty %></p>
            <% end %>
            <div class="">
              <button class="">Save Doctor</button>
              <button class="">Add a Review</button>
            </div>
          </div>
       </div>
    </div>
  </div>
  <div class="two">

    <%  @doctor.attributes.each do |attr_name, attr_value| %>
      <% unless attr_value.blank? || attr_name == 'id' || attr_name == 'specialty' || attr_name == 'created_at' || attr_name == 'updated_at'%>
      <ul class="doc-info-list">
        <li> <%= attr_value %> </li>
      </ul>
      <% end %>
    <% end %>










    <!-- <h3>Location</h3>
      <% unless @doctor.street.blank? %>
        <p><%= @street %></p>
      <% end %>
      <% unless @doctor.city.blank? %>
        <p><%= @city %></p>
      <% end %>
      <% unless @doctor.state.blank? %>
        <p><%= @state %></p>
      <% end %>
      <p><%= @doctor.zipcode %></p>
      <h3>Contact</h3>
      <p><%= @doctor.email_address %></p>
      <% unless @doctor.phone_number.blank? %>
        <p><%= @phone_number %></p>
      <% end %>
      <% unless @doctor.gender.blank? %>
        <p><%= @gender %></p>
      <% end %> -->
  </div>
  <h4></h4>
  </div>
