
<!--
<main class="doctor-info-container">
  <div class="img-container">
    <h1>Image</h1>
  </div>
  <div class="info-container">
    <h1>Info</h1>
  </div>
</main> -->


<div class="doctor-info-container">

  <div class="doctor-main">
    <h3><%= @doctor.first_name %> <%= @doctor.last_name %>  </h3>
    <p><%= @doctor.specialty %></p>
    <ul class="doctor-links">
      <% if current_user.doctor == @doctor %>
        <li><%= link_to "Edit Your Profile", edit_doctor_path(@doctor) %></li>
      <% else %>
        <li><%= link_to "Recommend this doctor", new_recommendation_path(id: @doctor.id) %></li>
        <% if session[:user_id] %>
        <% if current_user.doctors.include?(@doctor) %>
        <li><%= button_to "Unsave this doctor", remove_path, method: "delete", class: "save-button", params: {id: @doctor.id}%></li>
        <% else %>
        <li><%= button_to "Save this doctor", save_path, class: "save-button", params: {id: @doctor.id} %></li>
        <% end %>
        <%end %>
      <% end %>
    </ul>
  </div>
  <div class="doctor-details">
    <ul class="doc-info-list">
      <li>Gender: <%= @doctor.gender %></li>
      <li>Address:
        <%= "#{@doctor.street}, #{@doctor.city}, #{@doctor.state} #{@doctor.zipcode}"%>
      </li>
      <li>Phone Number: <%= @doctor.phone_number %></li>
      <li>Email Address: <%= @doctor.email_address %></li>
      <li>Insurances Accepted Include: <% string = '' %><% @doctor.insurances.each do |ins| %> <% string += ' ' + ins.insurance_name + ',' %><% end %> <%= string.chop %>
      </li>
    </ul>
    <div class="doctor-tags-div">
      <% if !@doctor.recommendations.empty? %>
        <h4>Users said this doctor...</h4>
        <ul class="doctor-tags">
          <% @tags.each do |t| %>
            <li>
              <%= t.description %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
    <div class="map">
      <iframe width="300" height="300" frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=<%=ENV["GOOGLE_MAPS"]%>&q=<%=@doctor.street%><%=@doctor.zipcode%>"
      allowfullscreen>
    </iframe>
  </div>
  <div class="doctor-reviews">
    <h4>Users who recommended this doctor said...</h4>
    <% if @doctor.recommendations.length > 0 %>
    <% @doctor.recommendations.each do |rec| %>
      <div class="single-rec">
        <div class="review-profile"><%= rec.review %></div>
        <p>
          Recommended on <%= rec.created_at.localtime.strftime('%m/%d/%Y at %I:%M %p') %> by <%= rec.user.username %>
        </p>
        <% if current_user && current_user.admin %>
          <%= link_to 'delete recommendation', recommendation_path(rec), method: :delete %>
        <% end %>
      </div>
    <% end %>
    <% else %>
      <p>This doctor has not been recommended yet.</p>
    <% end %>
  </div>
  </div>
