<!DOCTYPE html>
<html>
  <head>
    <title>DocsForUs</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="main-nav">
      <ul>
        <li class="title">Docs For Us</li>
        <% if session[:user_id] %>
          <li id="login"><%= link_to "Logout", logout_path %></li>
        <% else %>
          <li id="login"><%= link_to "Login", login_path %></li>
          <li id="register"><%= link_to "Register", new_user_path %></li>
        <% end %>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
