<!DOCTYPE html>
<html>
  <head>
    <title>DocsForUs</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="main-nav">
      <ul>
        <li class="title"> <%= link_to "Docs For Us", root_path %>  </li>
        <% if session[:user_id] %>
          <li class="login"><%= link_to "Profile", user_path(User.find(session[:user_id])) %></li>
          <li class="register"><%= link_to "Logout", logout_path %></li>
        <% else %>
          <li class="login"><%= link_to "Login", login_path %></li>
          <li class="register"><%= link_to "Register", new_user_path %></li>
        <% end %>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
