<!DOCTYPE html>
<html>
  <head>
    <title>DocsForUs</title>
    <%= csrf_meta_tags %>
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
    <script scr="https://use.fontawesome.com/dba621e4a6.js"></script>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script type="text/javascript">
      $(document).ready(() => {
        $('#q_specialty_matches_any').select2();
        $('#q_city_eq').select2();
        $('#q_state_eq').select2();
        $('#doctor_specialty').select2();
        $('#doctor_gender').select2();
        $('#q_gender_in').select2();
        $('#doctor_state').select2();
        $('#q_recommendations_tags_description_in').select2();
        $('#q_insurances_insurance_uid_eq').select2();
        $('#doctor_insurances').select2();
        $('b[role="presentation"]').hide();
        $('.select2-selection__arrow').append('<i class="fa fa-caret-down" aria-hidden="true"></i>');
      })
    </script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="main-nav">
      <ul>
        <li class="title"> <%= link_to "Docs For Us", root_path %>  </li>
        <li class="about2"> <%= link_to "About", about_path%> </li>
        <li class="resources"> <%= link_to "Resources", resources_path %> </li>
        <% if session[:user_id] %>
          <li class="login"><%= link_to "Profile", user_path(User.find(session[:user_id])) %></li>
          <li class="register"><%= link_to "Logout", logout_path %></li>
        <% else %>
          <li class="login"><%= link_to "Login", login_path %></li>
          <li class="register"><%= link_to "Register", new_user_path %></li>
        <% end %>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
